.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(200px);
}

#blob{
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    aspect-ratio: 1;
    width: 30rem;
    height: 30rem;
    background: linear-gradient(90deg,#0f7 50%,#00fffb 0);
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    overflow: hidden;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    50%{scale: 1 1.5;}
    to{
        transform: rotateZ(360deg);
    }
}