.header {
    padding: 0.5rem 1rem;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    font-size: 2rem;
    height: 3rem;
}

#header-container {
    height: 0%;
    border-left: 0.1rem dashed white;
    color: black;
    min-width: 30%;
    width: fit-content;
    font-size: 1.5rem;
    padding: 0 1rem;    
    overflow: hidden;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
}

#header-container > a {
    text-decoration: none;
    color: rgb(237, 237, 237);
}
#header-container > a:hover {
    text-decoration: underline;
}