@font-face {
    font-family: "OTF";
    src: url(./fonts/OPTIGaucho.otf);
}

.landing{
    height: 80%;
    width: 80%;
    font-family: 'OTF';
    font-size: 6rem;
    z-index: 2;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}